<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="<%= appLocation %>/js/admin-homepage.js"></script>
    </head>
    <body>
        <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" id='requests'>
                    <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">Form 1</a>
                </li>
                <li class="nav-item" id='active1'>
                    <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">Form 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#references" role="tab" data-toggle="tab">Incomplete Applications</a>
                </li>
            </ul>
            
            <div class="tab-content">
            <br>
<!--new client request content-->    
            <div role="tabpanel" class="tab-pane fade in show active" id="profile">
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Form 1 clients</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="request_client_table" class="table table-bordered table-hover table-striped">
                                <thead>
                                    <th style="width:10px;">Select</th>
                                    <th>Submission Date</th>
                                    <th>Reference id</th>
                                    <th>Customer Name</th>
                                    <th>Country</th>
                                    <th>Email Address</th>
                                    <th>Contact Details</th>
                                    <th>Application Status</th>
                                </thead>
                            </table>
                        </div> 
                    </div>
                </div>  
            </div>
<!--active client profiles content-->            
            <div role="tabpanel" class="tab-pane fade" id="buzz">
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Active client profiles Table</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="active_client_table" class="table table-bordered table-hover table-striped">
                                <thead>
                                    <th style="width:10px;">Select</th>
                                    <th>Submission Date</th>
                                    <th>Reference id</th>
                                    <th>Customer Name</th>
                                    <th>Country</th>
                                    <th>Email Address</th>
                                    <th>Contact Details</th>
                                    <th>Application Status</th>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
<!--request tab content-->            
            <div role="tabpanel" class="tab-pane fade" id="references">
                Table under development
            </div>
            
        </div>
            
        </div>
        
        <div id="lead_client_modal" class="modal fade" role="dialog" style="overflow-y: hidden;">
            <div class="modal-dialog modal-lg" style="max-width:80%; width: 80%;">

                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Customer Details</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                <div class="modal-body" style="height:550px; overflow-y: scroll;">
                    <div class="container"> 
                    
                        <div class="form-group row">
                            <div class="col-md-2 col-sm-12">
                                <label for="ex2" class="col-form-label">Reference Id</label>
                                <input class="form-control" id="ref_no" type="text" placeholder="request id" readonly>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label for="ex1" class="col-form-label">Application Date</label>
                                <input class="form-control" id="app_date1"  type="text" placeholder="application date" readonly>
                            </div>
                        </div>
                        <hr class="hr_style">        
                        
                        <div class="form-group row">
                            <div class="col-md-2 col-sm-12">
                                <label for="sel1" class="col-form-label">Title</label>
                                <input class="form-control" id="title" placeholder="title" type="text" readonly>
                            </div>
                            <div class="col-md-5 col-sm-12">
                                <label for="ex1" class="col-form-label">Full Name</label>
                                <input class="form-control" id="first_name1"  type="text" placeholder="full name" autocomplete="nope" readonly>
                            </div>
                            
                        </div>
                        <hr class="hr_style">
                        
                        <div class="form-group row">
                            <div class="col-md-12 col-sm-12">
                                <label for="ex2">Address</label> 
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <input type="text" class="form-control" id="address_line1" placeholder="Address line 1..." autocomplete="nope" readonly>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <input type="text" class="form-control" id="address_line2" placeholder="Address line 2..." autocomplete="nope" readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 col-sm-12">
                                <input type="text" class="form-control" id="town" placeholder="Town..." autocomplete="nope" readonly>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <input type="text" class="form-control" id="county" placeholder="County..." autocomplete="nope" readonly>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <input type="text" class="form-control" id="postcode" placeholder="Postcode..." autocomplete="nope" readonly>
                            </div>
                        </div>
                        <hr class="hr_style"> 
                        
                        <div class="form-group row">
                            <div class="col-md-3 col-sm-12">
                                <label for="sel1" class="col-form-label">Email Address</label>
                                <input type="email" class="form-control" id="email_address" placeholder="email address" autocomplete="nope" readonly>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label for="sel1" class="col-form-label">Relationship status</label>
                                <input type="text" class="form-control" id="relationship_status" placeholder="relationship status" autocomplete="nope" readonly>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label for="sel1" class="col-form-label">Nationalities</label>
                                <input type="text" class="form-control" id="nationalities" placeholder="nationalities..." autocomplete="nope" readonly>
                            </div>
                        </div>
                        
                        
                        
                    </div>

                    
                    
                </div>
              </div>
            </div>
        </div>
    </body>
</html>
