<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.12/sweetalert2.all.js"></script>
        
        <title>Login Page</title>
   <!--Made with love by Mutiullah Samim -->
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"  crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="<%= appLocation %>/css/Style.css">
    <script src="<%= appLocation %>/js/login.js"></script>
    </head>
    <body>
        <style>
            .jumbotron {
            background: url("http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg") no-repeat center center;
            background-size: cover;
            background-size: 100% 270px;
             -webkit-background-size: 100% 100%;
            -moz-background-size: 100% 100%;
            -o-background-size: 100% 100%;
            min-height: 270px;
        }
        </style>
        
<!--        <div style="background-color: white;" class="jumbotron jumbotron-fluid">
            <div class="container" id="first_container" style="text-align:right;">
                <img style="float:right;" src="Images/icon.png" ><br>
                <h2 id="header_1" style="color: #595959;" align="right" class="display-5">NEWFIELDS</h2>
                <hr align="right" style="width:100px; border: 1px groove #ffff1a;">
                <label style="font-size: 15px;">35 Park Place</label><br>
                <label style="font-size: 15px;">Cardiff</label><br>
                <label style="font-size: 15px;">CF10 3RL</label>
            
                <p class="lead"  align="right">Please use this page to create your profile</p>
                <label style="font-size: 12px;float:right;">Please fill all the mandatory(*) fields</label>
            </div>-->
        <!--</div>-->
        
        <div class="container">
            <div id="first_container" style="text-align:right;">
                <img style="float:right;" src="<%= appLocation %>/images/icon.png"><br>
                <h2 id="header_1" style="color: white;" align="right" class="display-5">NEWFIELDS</h2>
                <hr align="right" style="width:100px; border: 1px groove #ffff1a;">
                <label style="font-size: 15px; color: white;">35 Park Place</label><br>
                <label style="font-size: 15px; color: white;">Cardiff</label><br>
                <label style="font-size: 15px; color: white;">CF10 3RL</label>
            </div>
            
            <div class="d-flex justify-content-center ">
		<div class="card">
                    <div class="card-header">
                        <h3>Sign In</h3>
                        <div class="d-flex justify-content-end social_icon">
                            <span><i class="fab fa-facebook-square"></i></span>
                            <span><i class="fab fa-google-plus-square"></i></span>
                            <span><i class="fab fa-twitter-square"></i></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="user-credentials-form">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input id="email" type="text" class="form-control" placeholder="email">
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input id="password" type="password" class="form-control" placeholder="password">
                            </div>
                            <div class="row align-items-center remember">
                                <input type="checkbox">Remember Me
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Login" class="btn float-right login_btn">
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-center links">
                            Don't have an account?<a href="#">Sign Up</a>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="#">Forgot your password?</a>
                        </div>
                    </div>
		</div>
            </div>
        </div>
        
    </body>
</html>
