<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="<%= appLocation %>/js/user_operations.js"></script>
        
        
    </head>
    <body>
        
        
        <div class="d-sm-flex align-items-center justify-content-between mb-4 ">
            <h5 class="h5 mb-0 text-gray-800" style="color:#77b300;">Home page</h5>
        </div>
        
            <div class="row" >
                <div class="col">
                    <!-- <div class="form-group row"> -->
                        <!-- <div class="col-md-2 col-sm-12"> -->
                        <a href="<%= appLocation %>/form1/show?action=new" target="_blank">
                            <button class="btn btn-primary">Start a visa extension application (form 1)</button>
                        </a>
                        <!-- </div> -->
                    <!-- </div> -->
                </div>
                <div class="col">
                    <!-- <div class="form-group row" > -->
                        <!-- <div class="col-md-2 col-sm-12" > -->
                        <a href="<%= appLocation %>/form2/show?action=new" target="_blank" style="float:right;">
                            <button class="btn btn-primary" >Start an entry visa application (form 2)</button>
                        </a>
                        <!-- </div> -->
                    <!-- </div> -->
                </div>
            </div>
         <br>
         <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Applications</h6>
              </div>
              <div class="card-body">
                  <div class="table-responsive">
                      <table id="client_application_table" class="table table-bordered table-hover table-striped">
                          <thead>
                              <th>Start Date</th>
                              <th>Reference id</th>
                              <th>Application type</th>
                              <th>Status</th>
                              <th>View</th>
                          </thead>
                      </table>
                  </div> 
              </div>
          </div>
        
    </body>
</html>
