<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type ="text/css" rel="stylesheet" href="<%= appLocation %>/css/contact_us.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.12/sweetalert2.all.js"></script>
        <script type="text/javascript" src="<%= appLocation %>/js/user_contact.js"></script>
    </head>
    <body>
        
        <div class="d-sm-flex align-items-center justify-content-between mb-4 ">
            <h5 class="h5 mb-0 text-gray-800" style="color:#77b300;">Contact form</h5>
        </div>
        
       
        <div class="row" >
            <div class="col-xl-6 col-lg-6" style='margin:0;padding:0;'>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="client_name" placeholder="NAME"  autocomplete="nope">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                      <input type="email" class="form-control" id="client_email" placeholder="EMAIL"  autocomplete="nope">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <textarea class="form-control" id="message_text" rows="10" placeholder="MESSAGE" name="message" autocomplete="nope"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 ">
                        <button class="btn btn-primary"  style="float:right;" onclick="Send_supoortMail()">
                            Send   <i class="fas fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-1 col-lg-1"></div>
            
            <div class="col-xl-5 col-lg-5" >
                <ul  class="contact-list">
                    <li class="list-item">
                        <i class="fas fa-map-marker fa-2x"></i>
                        <span class="contact-text place">
                            <a title="" style="color: #1a75ff;">35 Park Place, Cardiff, CF10 3RL</a>
                        </span>
                    </li>

                    <li class="list-item">
                        <i class="fa fa-phone fa-2x"></i>
                        <span class="contact-text phone">
                            <a  title="Give us a call" style="color: #1a75ff;">+44 7792402489</a>
                        </span>
                    </li>

                    <li class="list-item">
                        <i class="fa fa-envelope fa-2x"></i>
                        <span class="contact-text gmail">
                            <a href="mailto:#" title="Send us an email"  >glyn@newfieldslaw.com</a>
                        </span>
                    </li>
                </ul>
            </div>
            

        </div>
        <style>
            #page_footer{
            background-color: grey;
            opacity: 0.6;
            text-align:right;
            }
            
            #page_footer label{
            display: inline-block;
            margin: 2px;
            margin-right: 10px;
            }
        </style>
            
            <footer class="fixed-bottom" id="page_footer">
                <label>Version 1.0</label>    
            </footer>    
        
    </body>
</html>
