/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-Jan-2019, 22:36:43
    Author     : Gagan
*/



.hr_style{ 
margin-top: 2px;
height: 2px; 
border: 0; 
border-bottom: 2px groove #cccccc;
}

#page_footer{
background-color: grey;
opacity: 0.6;
text-align:right;
}

#page_footer label{
display: inline-block;
margin: 2px;
margin-right: 10px;
}

#submit_details{
float:right;
top: 5px;
right:10px;
bottom:0;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#submit_details:active{
    transform: translateY(4px);
    cursor: pointer;
}

#emailvalid0, #emailinvalid0{
    float:right;
    width:30px;
    height:30px;
}

#confirm{
    border: #00b0f0;
    background-color: #00b0f0;
}

#cancel{
    border: #ff4d4d;
    background-color: #ff4d4d;
}

.close{
    color: #ff4d4d;
}

.bottonBorder{
    border: 0;
    outline: 0;
    border-bottom: 2px solid black;
}

.overlay
{
    position: absolute;
    left: 0; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    z-index: 2;
    background-color: rgba(255,255,255,0.8);
    
    
}
.overlay-content {
    position: absolute;
    transform: translateY(-50%);
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;
    color: #555;
}